<div class="widget right-widget categories">
    <h3 class="widget-title">Popular Categories</h3>
    <ul>
       <li><a href="#" style="text-decoration: none;">Angular 7</a></li>
       <li><a href="#" style="text-decoration: none;">Python</a></li>
       <li><a href="#" style="text-decoration: none;">MVC 4</a></li>
       <li><a href="#" style="text-decoration: none;">Angular Material</a></li>
       <li><a href="#" style="text-decoration: none;">SQL Server</a></li>
       <li><a href="#" style="text-decoration: none;">Entity Framework</a></li>
       <li><a href="#" style="text-decoration: none;">ASP.Net</a></li>
       <li><a href="#" style="text-decoration: none;">CSS 3</a></li>
       <li><a href="#" style="text-decoration: none;">TypeScript</a></li>
       <li><a href="#" style="text-decoration: none;">Java</a></li>
   </ul>
</div>
